version: '3.8'

services:
  data-maria:
    image: mariadb:10
    ports:
      - "3306:3306"
    networks:
      - dev-network
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=dev_db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    deploy:
      replicas: 2
    ports:
      - "8080:8080"
    networks:
      - dev-network
    depends_on:
      - data-maria

networks:
  dev-network:
